.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    color:wheat;
}

.background2 {
    width: 50%;
    
}

.background1 {
    width: 45%;
    
}

.background3 {
    width: 50%;

}

.background {
    width: 100%;
}

#bienvenue {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

#barrenavigation {
    border: solid 2pt whitesmoke;
    border-radius: 5pt;
    padding: 5pt;
}

#slides {
    background-color: #adb5bd ;
    padding: 10pt;
}

#bas-de-page {
    padding: 100pt;
}

#cartes {
    position: relative;
    display: flex;
}

#formation {
    left: 20pt;
    bottom: 35pt;
}

#contact-icone {
    display: flex;
}

