.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    color:wheat;
}

.background2 {
    width: 50%;
    
}

.background1 {
    width: 45%;
    
}

.background3 {
    width: 50%;

}

.background {
    width: 100%;
}

#bienvenue {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

#barrenavigation {
    border: solid 2pt whitesmoke;
    border-radius: 5pt;
    padding: 5pt;
}

#slides {
    background-color: #adb5bd ;
    padding: 10pt;
}

#bas-de-page {
    padding: 100pt;
}

#cartes {
    position: relative;
    display: flex;
}

#formation {
    left: 20pt;
    bottom: 35pt;
}

#contact-icone {
    display: flex;
}

.comp li {
    list-style: square;
    padding: 5pt;
}

#barrenavigation_cv {
    border: solid 2pt whitesmoke;
    border-radius: 5pt;
    padding: 20pt;
    background: dimgray;
}

#titre_cv {
    color: whitesmoke;
    position: relative;
    bottom: 16pt;
}

#boutons-accueil_cv {
    position: relative;
    bottom: 16pt;
}

#logo-mdl {
    width: 200px;
    border-width: 3pt;
}

#carousel-mdl {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#icon-comp {
    padding: 10pt;
    list-style: none;
}

#icon-comp i{
    padding: 10pt;
}

#cafet {
    width: 122%;
}

#texte-zoom {
    padding-left: 10pt;
}

#affiche {
    width: 50%;
}